# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
*.local

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.eslintcache
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
